@FONT-FACE{
    font-family: 'arita';
    src : url("./font/arita.ttf");
}

*{
    font-family: 'arita';
}
/*모바일 화면*/
body{
    background-color : #E4DFCC;
    background-size : cover;

}

#start{
    text-decoration: none;
    color : rgb(116, 25, 25);
    font-weight : bold;

}

#title{
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 70%;
}

.timer{
    color : rgb(116, 25, 25);
    font-weight: bold;
    text-align :center;
   
   
}

.content{
    clear : right;
    position : absolute;
    width : 90%;
    top : 30%;
    transform : translate(-50%, -15%);

    left : 50%;

   

}

#tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8, #tile9{

    display : inline-block;
    height : 0;
    width : 20%;
    padding-bottom : 20%;
    background-color : rgba(0,0,0,0);
    border-radius : 20px;

    background-size : cover;

}

#tile1, #tile4, #tile7{
    clear : left;
    margin-left : 20%;
}

#tile3, #tile6, #tile9{
    clear : right;
    margin-right : 20%;
}



#gyul{
    width : 8%;
    height : 3%;
    font-size: 100%;
    position : absolute;
    left : 50%;
    bottom : 50%;
    transform: translate(-50%, 700%);
    text-decoration : none;
    color : rgba(173, 112, 71, 0.836);
    font-weight: bold;

    background-color : #E4DFCC;
    text-align: center;


}

.score{
    position : absolute;
    text-align : center;
    top : 80%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-weight: bold;
    color :  rgba(173, 112, 71, 0.836);


}
#gscore{
    width : 50%;
    text-align : center;
}




@media ( min-width: 580px ){


    #start{
        text-decoration: none;
        color : rgb(116, 25, 25);
        font-size : 25px;
    
    }

    #title{
        display : block;
        margin-left : auto;
        margin-right : auto;
        width :50%;
    }

    .timer{
        color : rgb(116, 25, 25);
       
       }

    .content{
        clear : right;
        position : absolute;
        width : 40%;
        top : 30%;
        transform : translate(-50%, -15%);
    
        left : 50%;
    }
    
    
    #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8, #tile9{
    
        display : inline-block;
        height : 0;
        width : 20%;
        padding-bottom : 20%;
        
        background-color : rgba(0,0,0,0);
        background-size : cover;
        
    }
    
    #tile1, #tile4, #tile7{
        clear : left;
        margin-left : 20%;
    }
    
    #tile3, #tile6, #tile9{
        clear : right;
        margin-right : 20%;
    }
    

    
    #gyul{
        display : inline-block;
        width : 8%;
        height : 3%;
        font-size: 100%;
        position : absolute;
        left : 50%;
        bottom : 50%;
        transform: translate(-50%, 700%);
        text-decoration : none;
        color : rgba(173, 112, 71, 0.836);
        text-align: center;
            
    
    }
    
    .score{
        position : absolute;
        top : 80%;
        left : 50%;
        transform : translate(-50%, 10%);
        color : rgba(173, 112, 71, 0.836);
    
    
    }
    #gscore{
        width : 50%;
    }
    
    
 
}

@media ( min-width: 1200px ){

    #start{
        text-decoration: none;
        color : rgb(116, 25, 25);
        font-size : 30px;
    
    }
    
    #title{
        display : block;
        margin-left : auto;
        margin-right : auto;
        width : 40%;
    }
    .timer{
        color : rgb(116, 25, 25);
       
       }
    
     .content{
        clear : right;
        position : absolute;
        width : 30%;
        top : 30%;
        transform : translate(-50%, 10%);
    
        left : 50%;
    }
    

    
    
    #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8, #tile9{
    
        display : inline-block;
        height : 0;
        width : 20%;
        padding-bottom : 20%;
        
        background-color: rgba(0,0,0,0);
        background-size : cover;
        
    }
    
    #tile1, #tile4, #tile7{
        clear : left;
        margin-left : 20%;
    }
    
    #tile3, #tile6, #tile9{
        clear : right;
        margin-right : 20%;
    }
    

    
    #gyul{
        display : inline-block;
        width : 8%;
        height : 3%;
        font-size: 100%;
        position : absolute;
        left : 50%;
        bottom : 50%;
        transform: translate(-50%, 1200%);
        text-decoration : none;
        color : rgba(173, 112, 71, 0.836);
        text-align: center;
    
    
    }
    
    .score{
        position : absolute;
        top : 90%;
        left : 50%;
        transform : translate(-50%, 10%);
        color : rgba(173, 112, 71, 0.836);

    }
    #gscore{
        width : 50%;
    }

}
